/* 
    Created on : 26/03/2016, 04:57:10 PM
    Author     : Jose Carlos Vargas
    Description:
        Hoja de estilos para Predigitacion
*/

*{
    margin:0;
    padding:0;
    border:0;
}

.styleConmandLink {

    color: #000;
    font-weight: 700;
    text-shadow: -4px -4px 4px #aaa

}

#titulo h1{
    color:#CCCCCC;
    text-align: right;
    margin: 0px;
}

#titulo h1 span{
    color:black;
}

h2{  
    background: #E9E9E9 url(../images/titlebar_bg.png) repeat-x right top;
    font-weight: bold;
    font-size: 14px;
    margin:0px 0 15px 0;    
    padding: 4px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    text-align: center;

}


#logo {
    z-index: 2;
    position: relative;
    display: inline-block;
}



#titulo{
    padding: 15px;
    width:80%;
    position: relative;
    display: inline-block;
}


#contenido{
    background: #F7F7F7;
    padding: 15px;
}

#principal{
    border-radius: 0.5em;
    margin: 0.25em auto;
    min-height:400px;
    vertical-align:top;
    margin-top: 20px;


}


footer{    
    padding-left: 15px;
    padding-right: 15px;
    max-width:100%;

}

footer, #content:after {    
    height: 36px; 
}



footer span{   
    color: white; 
    display:block;    
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;   
    text-align: center;
    border-radius: 5px;
    background: #d52b1e none repeat scroll 0 0;
}


.txtCamposReqMgl{
    font-weight: bold;  
    color: red;
    font-size: medium;
    padding-left: 5px;
}



.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: initial;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: fixed;
    margin: 12% 0 0 19%;
    width: 60%;
    height: 300;
    padding: 16px;
    border: 1px solid #d52b1e;
    background-color: white;
    z-index:1002;
    border-radius: 20px;

    overflow: auto;
}



.black_overlayError{
    display: none;
    position: fixed;
    top: -10%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: initial;
    z-index:1010;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_contentError {
    width: 400px;
    height: 250px;
    display: none;
    position: fixed;
    margin: 15% 0 0 32%;
    padding: 10px;
    border: 1px solid #d52b1e;
    background-color: white;
    z-index:1020;
    border-radius: 20px;
    overflow: auto;

}

.infoMessage{
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:3px 36px;
    margin:2px;
    list-style: none;
    /*width: 700px;
    /*border: 1px solid #D8D8D8;*/
    /*text-transform: uppercase;
    background-color: rgb(255, 249, 242);*/
    background:#e3f7fc url('/resources/images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
    /*color: red !important;
    text-align: center;
    margin-left: auto;
    margin-right:auto;*/

}

.errorMessage{
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:3px 36px;
    margin:2px;
    list-style: none;
    /*width: 700px;
    /*border: 1px solid #D8D8D8;*/
    /*text-transform: uppercase;
    background-color: rgb(255, 249, 242);*/
    background:#ffecec url('/resources/images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
    /*color: red !important;
    text-align: center;
    margin-left: auto;
    margin-right:auto;*/
}

.warnMessage{
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:3px 36px;
    margin:2px;
    list-style: none;
    background:#fff8c4 url('/resources/images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}

.successMessage{
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:3px 36px;
    margin:2px;
    list-style: none;
    background:#e9ffd9 url('/resources/images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}

.mhWait {
    position: relative;
    width: 78px;
    height:78px;
    margin:auto;
    top:50%;
}

.mhWait .wBall {
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.050000000000001s infinite;
    -o-animation: orbit 6.050000000000001s infinite;
    -ms-animation: orbit 6.050000000000001s infinite;
    -webkit-animation: orbit 6.050000000000001s infinite;
    -moz-animation: orbit 6.050000000000001s infinite;
}

.mhWait .wBall .wInnerBall{
    position: absolute;
    width: 9px;
    height: 9px;
    background: rgb(255,255,255);
    left:0px;
    top:0px;
    border-radius: 9px;
}

.mhWait #wBall_1 {
    animation-delay: 1.32s;
    -o-animation-delay: 1.32s;
    -ms-animation-delay: 1.32s;
    -webkit-animation-delay: 1.32s;
    -moz-animation-delay: 1.32s;
}

.mhWait #wBall_2 {
    animation-delay: 0.26s;
    -o-animation-delay: 0.26s;
    -ms-animation-delay: 0.26s;
    -webkit-animation-delay: 0.26s;
    -moz-animation-delay: 0.26s;
}

.mhWait #wBall_3 {
    animation-delay: 0.53s;
    -o-animation-delay: 0.53s;
    -ms-animation-delay: 0.53s;
    -webkit-animation-delay: 0.53s;
    -moz-animation-delay: 0.53s;
}

.mhWait #wBall_4 {
    animation-delay: 0.79s;
    -o-animation-delay: 0.79s;
    -ms-animation-delay: 0.79s;
    -webkit-animation-delay: 0.79s;
    -moz-animation-delay: 0.79s;
}

.mhWait #wBall_5 {
    animation-delay: 1.06s;
    -o-animation-delay: 1.06s;
    -ms-animation-delay: 1.06s;
    -webkit-animation-delay: 1.06s;
    -moz-animation-delay: 1.06s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}